// Flex centré
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Media queries
@mixin respond($breakpoint) {
  @media (min-width: $breakpoint) {
    @content;
  }
}

// Texte coupé avec "..."
@mixin ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
