body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #353535;
}

h1, h2, h3 {
  font-family: "Roboto", sans-serif;
}
.restaurant-title {
  font-family: "Shrikhand", cursive !important;
}
