// Couleurs principales
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

// Couleurs neutres
$color-light: #f6f6f6;
$color-dark: #353535;
$color-white: #ffffff;

// Polices
$font-title: 'Shrikhand', cursive;
$font-text: 'Roboto', sans-serif;

// Breakpoints
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

